NODE_ENV=development
PORT=9004
MONGO_URI=mongodb://localhost:27017/onlineexam
JWT_SECRET=supersecretjwtkey2024onlineexamsystem
JWT_EXPIRE=30d
FRONTEND_URL=http://localhost:3255
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=noreply@qezmora.com
